*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
.main-header{
    width: 100%;
    position: relative;
    display: flex;
    border-bottom: 2px solid #a6a6a6;
    justify-content: space-between;
    background-image: linear-gradient(to right, #ffe6ff, #ffe6ff ,#7e7ef0 ,#99ff66 ,#659e48);

}
.main-header img{
    height: 60px;
    width: auto;
    margin: 4px 0 5px 30px;

}
.main-header .title h3{
    margin: 5px 0 0 0;

}
.main-header .title p{
    text-align: center;
    margin-top: 5px;

}
.main-header .customer{
    padding: 30px;

}
.main-header .customer P{
    background-image: linear-gradient(to right, #272be7, #cc33ff, #cc0099, #3333ff);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    
}
section{
    height: 100vh; 
    width: 100%;
}
.tbill{
    margin: 30px 0 0 30px;
    display: inline-block;
   
}
.tbill table{
    width: 300px;
    text-align: center;

}
.tbill table, th, td{
    border: 1px solid #0099cc;
    border-collapse: collapse;
 ;
}
.tbill table th{
    background-color: #e6e6ff;
}
.tbill table tr:nth-of-type(2) td:nth-of-type(1), .tbill table tr:nth-of-type(3) td:nth-of-type(1){
    background-color: #ecf8ec;
}
.tbill table tr:nth-of-type(2) td:nth-of-type(2),td:nth-of-type(3) ,.tbill table tr:nth-of-type(3) td:nth-of-type(2), td:nth-of-type(3){
    background-color: #ffe6ff;
}
.unit-box table, .unit-box th, .unit-box td{
    border: 1px solid #054747;
    border-collapse: collapse;

    
}
.unit-box table{
    width: 400px;
    margin: 100xp 0 0 30px;

   
}
.unit-box table td{
    height: 20px;
    background-image:  linear-gradient(to right, #eef3f3, #e7cfe7 ,#9ad4e2);
    text-align: center;
}
.unit-box table th{
    background-color: gray;
}
.unit-box{
    display: inline-block;
    position: absolute;
    top: 200px;
    left: 30px;
    

}
.unit-box2{
    position: absolute;
    top: 150px;
    right: 30Px;
    height: auto;
    width: auto;
}
.unit-box2 table{
    width: 500px;
    text-align: center;
    
}
.unit-box2 table tr th{
    width: 150px;
}
.unit-box2 table, th, td{
    border: 1px solid black;
    border-collapse: collapse;

}
.unit-box2 table tr td{
    background-image:  linear-gradient(to right, #eef3f3, #e7cfe7 ,#9ad4e2);

}
.unit-box2 table tr th{
    background-color: #e6e6ff;
}
@media (max-width: 1000px) {
    .unit-box2{
        position: absolute;
        top: 450px;
        left: 30px;
    }
}
